/* common */

:root{
  --sokudoku: rgb(216, 180, 127);
  --sokudokuText: rgb(172, 95, 7);
  --contents:rgb(240, 220, 178);
  --contentsShadow: rgba(172, 95, 7, .5);
  --ink: rgb(7, 23, 58);
}
html{
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body{
  width: 100%;
  min-width: 350px;
  height: 100%;
  max-width: 480px;
  min-height: 400px;
  max-height: 700px;
  background: linear-gradient(135deg, rgba(250, 239, 225, 0.4),rgba(255,255,255,0), rgba(0,0,0,.6)),url("../img/22987059_l.jpg");
  background-size: contain;
  margin: auto;
  position: relative;
  font-family: 'Noto Serif JP', serif;
}
#turn{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  cursor: pointer;
  z-index: 3;
}

/* cover */

#cover_bottom{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: var(--sokudoku);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  backface-visibility: hidden; 
  transition: transform 3s ease;
  transform-origin: right;
  z-index: 2;
}
#cover_bottom.open{
  transform-origin: right;
  transform: perspective(1000px) rotateY(180deg);
}
#cover_reverse{
  display: none;
}
#cover_middle{
  height: 100%;
  width: 100%;
  padding: 45px;
  background-image: url("../img/iwanami.png");
  background-size: contain;
  background-repeat: repeat;
}
#cover_top{
  height: 100%;
  position: relative;
  background-color: var(--sokudoku);
  color: var(--sokudokuText);
  overflow: hidden;
}

/* header */

header{
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
header h1{
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  text-decoration: underline;
}

/* main */

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
#signbord{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  transition: all .6s;
}
#signbord:hover{
  color: #fff;
}
#cover_author{
  margin: 0 16px 0 0;
  font-size: 16px;
}
#cover_title{
  margin: 0;
  font-size: 28px;
}
#textbord{
  border: 1px solid #fff;
  width: 80%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  margin: 0 auto 16px;
  color: #fff;
}
#control{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#start,
#stop{
  width: 50px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid var(--sokudokuText);
  cursor: pointer;
  margin: 0 4px;
  transition: all .6s;
}
#start.disabled,
#stop.disabled{
  opacity: .5;
  pointer-events: none;
}
#start:hover,
#stop:hover{
  border: 1px solid #fff;
  color: #fff;
}
#control small a{
  line-height: 28px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: all .6s;
}
#control small a:hover{
  color: #fff;
}
.after{
  display: inline-block;
  opacity: .3;
  margin: 0 auto;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
}
.after:hover{
  opacity: 1;
}

/* footer */

footer{
  position: absolute;
  bottom: 0;
  height: 35px;
  line-height: 10px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  background-color: var(--sokudoku);
}

/* 目次 */

#contents{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: vertical-rl;
  background-color: var(--contents);
  color: black;
  box-shadow: inset 0 0 100px var(--contentsShadow), 
    30px 6px 10px rgba(0,0,0,.7);
  transition: all 2s;
}
#contents > p{
  position: absolute;
  top: 20px;
  left: 40px;
  writing-mode: horizontal-tb;
  font-size: 12px;
}
#contents h1{
  font-weight: normal;
  font-size: 20px;
  margin: 150px 0 0 30px;
}
#contents ul{
  padding: 0;
  margin: 80px 0;
}
.content{
  height: 100%;
  list-style: none;
  cursor: pointer;
  transition: all .5s;
}
.content:hover{
  opacity: .4;
}
#contents ul li + li{
  margin-right: 10px;
}
.content section{
  display: flex;
  height: 100%;
}
.content_title{
  white-space: nowrap;
  font-weight: normal;
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  cursor: pointer;
  transition: all .3s;
}
.dots{
  height: 100%;
  width: 3.4px;
  margin: 10px auto;
  position: relative;
}
.dots::after{
  position: absolute;
  left: 0px;
  background: radial-gradient(circle farthest-side, black, black 60%, transparent 60%, transparent);
  background-size: 3.4px 3.4px;
  opacity: .5;
  content: '';
  display: inline-block;
  height: 100%;
  width: 3.4px;
}
.seconds{
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  transform: scaleY(.4);
  transform-origin: top;
}
.seconds::after{
  margin-top: 6px;
  content: "秒";
}
.content_chapter,
.content_author{
  margin: 0;
  font-size: 14px;
}

/* wide */

@media(min-width: 480px){
  #cover_middle{
    height: 100%;
    width: 100%;
    padding: 50px;
  }
  #turn{
    width: 80px;
  }
  #cover_reverse{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--sokudoku);
    box-shadow: inset 0 0 20px rgba(0,0,0,.4);
    transition: transform 3s ease;
    transform-origin: right;
    z-index: 1;
    cursor: pointer;
  }
  #cover_reverse.open{
    transform-origin: right;
    transform: perspective(1000px) rotateY(180deg);
  }
  #cover_reverse small{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 24px;
    transform: scaleX(-1) rotate(6deg);
    color: var(--ink);
  }
}